In [15]:
import requests
import lxml.html as lh
import pandas as pd

In [16]:
wikipedia_link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Create a handle, wikipedia_page, to handle the contents of the website
wikipedia_page=requests.get(wikipedia_link)

#Store the contents of the website under wikipedia_page
wikipedia_page = lh.fromstring(wikipedia_page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = wikipedia_page.xpath('//tr')

#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [17]:
tr_elements = wikipedia_page.xpath('//tr')

#Create empty list
col=[]

i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print(name)
    col.append((name,[]))

Postal Code

Borough

Neighbourhood

In [18]:
col

[('Postal Code\n', []), ('Borough\n', []), ('Neighbourhood\n', [])]

In [19]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [20]:
[len(C) for (title,C) in col]

[181, 181, 181]

In [21]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [22]:
df = df.replace(r'\n','', regex=True)
df.columns = ['Postcode', 'Borough', 'Neighbourhood']
df.head()

  Postcode           Borough              Neighbourhood
0      M1A      Not assigned               Not assigned
1      M2A      Not assigned               Not assigned
2      M3A        North York                  Parkwoods
3      M4A        North York           Victoria Village
4      M5A  Downtown Toronto  Regent Park, Harbourfront

In [23]:
df.drop(df[df['Borough'] == 'Not assigned'].index, inplace=True)
df.index = range(len(df))
df

    Postcode  ...                                      Neighbourhood
0        M3A  ...                                          Parkwoods
1        M4A  ...                                   Victoria Village
2        M5A  ...                          Regent Park, Harbourfront
3        M6A  ...                   Lawrence Manor, Lawrence Heights
4        M7A  ...        Queen's Park, Ontario Provincial Government
..       ...  ...                                                ...
99       M4Y  ...                               Church and Wellesley
100      M7Y  ...  Business reply mail Processing Centre, South C...
101      M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102      M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
103           ...

[104 rows x 3 columns]

In [11]:
df.shape

(0, 3)